*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    display: flex;
    flex-direction: column;
    font-family:  'Arial Narrow Bold', sans-serif;
}

.container1{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 110vh;
}

.text-content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45vw;
    padding: 20px;
}

.text-content1 h2 {
    color: #ff3366;
    font-weight: normal;
    font-size: 24px;
    padding: 20px 0;
}

.text-content1 h1{
    font-size: 48px;
    margin: 20px 0;
}

.text-content1 p{
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0 ;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff3366;
    color: #fff;
    width: 130px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}

.image-content img {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 7px;
    position: relative;
    top: 100px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f0f0;
}

.container h2{
    color: #ff3366;
    font-weight: normal;
    font-size: 24px;
    padding: 20px;
    position: relative;
    right: 0;
}

.header{
    display: flex;
    margin: 20px;
    width: 80vw;
    align-items: center;
}

.header h1{
    width: 30vw;
}

.header p{
    width: 80%;
}

.services{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    width: 84vw;
    gap: 10px;
    align-items: end;
}

.card {
    position: relative;
    flex: 1;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(244, 56, 56, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity 0.3s;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 59, 59, 0.968);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 20px;
}

.card-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.card-content .read-more {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #ff3366;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-content .read-more img {
    width: 16px;
    height: auto;
    transition: none; 
}

.card:hover .card-content .read-more img {
    opacity: 1;
}

.card:hover {
    transform: scale(1.02);
}

.card:hover img {
    opacity: 0;
}

.card:hover .card-content {
    opacity: 1;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #ff3366;
}

.why-choose-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94vw;
    margin: 40px ;
}

.features{
    display: flex;
    margin: 30px;
}

.header-container h1, 
.header-container h2{
    margin: 30px;
    text-align: center;
}

.feature, .feature h3, .feature p, .feature img{
    margin: 13px;
}

.project-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94vw;
    margin: 40px ;
}

.content {
    display: flex;
    gap: 20px;
    width: 80vw;
    align-items: stretch; 
}

.image-content-2 img{
    flex: 1;
    width: 45vw;
    height: 40vw;
    border-radius: 8px;
}

.text-content {
    background-color: gainsboro; 
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 5px;
}

.text-block.active {
    background-color: #ff3366; 
    color: azure;
}

.text-block {
    padding: 25px 20px;;
    height: 100%;
}

.text-block h3, .text-block p{
    padding: 10px 0 ;
}

.growth-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 40px ;
    background-color: #f1f0f0;
}

.stats{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.stat{
    display: flex;
    height: 130px;
    width: 170px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 3px;
}

.stat:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 5px rgba(180, 179, 179, 0.5);
}

.icon img{
    width: 60%;
}

.number{
    padding: 10px;
    font-size: xx-large;
}

.feedback-section{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-section h1, .feedback-section h2{
    padding: 15px 0;
}

.testimonial{
    width: 50vw;
    margin: 20px 0 ;
    font-weight: 800;
}

.testimonial p{
    font-weight: 400;
    padding: 20px 0 ;
}

#author_name{
    color: #ff3366;
}

.author{
    color: #ccc;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff3366;
    height: 30vh;
}

footer img{
    height: 10vh;
}